@font-face {
    font-family: "Inter";
    src: url('fonts/Inter-Light.ttf') format('truetype');
}

:root {
    font-family: "Inter", sans-serif;
    background-color: #11191f;
    --webkit-user-select: none;
    --primary: #8339c4;
}

.text-align-center {
    text-align: center;
}

a {
    cursor: pointer;
}

.toast {
    color: #fff;
    border-radius: 8px;
    padding: 5px 15px;
}

.toast.good {
    background: #5cb85c;
}

.toast.bad {
    background: #d9534f;
}

.margin-y {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-background {
    display: none;
    background-image: url("../images/logo.jpg");
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .logo-background {
        display: block;
    }
}